*{
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}

.container{
    display: flex;
    padding-right: 12px;
}
.left {
    width: 25vw;
    padding: 10px;
}
.right {
    width: 75vw;

}

.home ul li{
    width: 16px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;

    font-weight: bold;
    align-items: center;
    padding: 4px 14px;
    font-size: 14px;
}

.heading img{
    width: 20px;
}

.library{
    min-height: 76vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    flex-wrap: wrap;
    color: grey;
    position: absolute;
    bottom: 0;
    padding: 14px;
}

.footer a{
    color: grey;
}


.right{
    margin: 16px 0;
    position: relative;
}
.header{
    display: flex;
    background-color: rgb(34, 34, 34);
    justify-content: space-between;
    border-radius: 6px;
    margin: 6px;
}

.header > *{
    padding: 20px;
}

.spotifyPlaylist{
    padding: 16px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;

}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25, 25, 25);
    margin: 15px;
    position: relative;
    z-index: 0;
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.card:hover{
    background-color: #2a2a2a;
}

.play{
    position: absolute;
    bottom: 167px;
    right: 15px;
    width: 46px;
    height: 46px;
    background: #1ed760;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.25s ease;
    cursor: pointer;
    z-index: 5;
}

.play i{
    color: black;
    font-size: 18px;
}


.card:hover .play{
    opacity: 1;
    transform: translateY(0);
}

.signupbtn{
    font-weight: bold;
    margin-right: 1rem;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 800;
    height: 2rem;
    width: fit-content;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}
.signupbtn:hover {
    scale: 1.1;
    transition: all 0.4s ease;
}

.loginbtn{
    font-weight: bold;
    margin-right: 1rem;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 800;
    height: 2rem;
    width: fit-content;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
}

.loginbtn:hover {
    scale: 1.1;
    transition: all 0.4s ease;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
    right: 24px;
}


.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList{
    height: 515px;
    overflow: auto;
    margin-bottom: 6px;
}


.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4.65px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 2px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
} 

.songbuttons img{
    cursor: pointer;
}

.abovebar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        padding-bottom: 10px ;  
}

.songinfo{
    width: 30%;
}

.songbuttons{
    width: 40%;
    display: flex;
    justify-content: center;
}

.songtime{
    width: 30%;
    text-align: right;
}

.songinfo , .songtime{
    color: #000000;

}