*{
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}

.container{
    display: flex;
    padding-right: 12px;
}
.left {
    width: 25vw;
    padding: 10px;
}
.right {
    width: 75vw;

}

.home ul li{
    width: 16px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.logo{
    z-index: 0;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;

    font-weight: bold;
    align-items: center;
    padding: 4px 14px;
    font-size: 14px;
}

.heading img{
    width: 20px;
}

.library{
    min-height: 76vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    flex-wrap: wrap;
    color: grey;
    position: absolute;
    bottom: 0;
    padding: 14px;
}

.footer a{
    color: grey;
}


.right{
    margin: 16px 0;
    position: relative;
}
.header{
    display: flex;
    background-color: rgb(34, 34, 34);
    justify-content: space-between;
    border-radius: 6px;
    margin: 6px;
}

.header > *{
    padding: 20px;
}

.spotifyPlaylist{
    padding: 16px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;

}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25, 25, 25);
    margin: 15px;
    position: relative;
    z-index: 0;
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.card:hover{
    background-color: #2a2a2a;
}

.play{
    position: absolute;
    bottom: 167px;
    right: 15px;
    width: 46px;
    height: 46px;
    background: #1ed760;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.25s ease;
    cursor: pointer;
    z-index: 5;
}

.play i{
    color: black;
    font-size: 18px;
}


.card:hover .play{
    opacity: 1;
    transform: translateY(0);
}

.card:hover{
    background-color: #404040;
    transition: all .9s;
}

.signupbtn{
    font-weight: bold;
    margin-right: 1rem;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 800;
    height: 2rem;
    width: fit-content;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}
.signupbtn:hover {
    scale: 1.1;
    transition: all 0.4s ease;
}

.loginbtn{
    font-weight: bold;
    margin-right: 1rem;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 800;
    height: 2rem;
    width: fit-content;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
}

.loginbtn:hover {
    scale: 1.1;
    transition: all 0.4s ease;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 19px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
    right: 18px;
}


.songList{
    height: 524px;
    overflow: auto;
    margin-bottom: 6px;
}


.songList ul {
    padding: 0 12px;
}

.hamburger{
    display: none;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4.65px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 2px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
} 

.songbuttons img{
    cursor: pointer;
}

.abovebar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        padding-bottom: 10px ;  
}

.songinfo{
    width: 30%;
}

.songbuttons {
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 16px;
    
}


.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.range input{
    margin-top: 10px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}



.songinfo {
    color: #000000;

}

.songtime{
    width: 125px;
    padding: 0 12px;
    text-align: right;
    color: #000000;
}
.close{
    display: none;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }   

    .left .close {
        position: absolute;
        right: 11px;
        top: 29px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburgerContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
        z-index: 100;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }

    .songList{
        height: 460px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

    
}
